.about_section {
  background-color: #eaedf2;
  height: 100%;
}
.about_header {
  font-weight: 700;
  font-size: 35px;
  margin: 0 0 10px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  z-index: 1;
  padding: 0 0 10px;
}
.about_header_h3 {
  font-weight: 700;
  font-size: 35px;
  margin: 0 0 10px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  z-index: 1;
  color: #090a0c;
  padding: 0 0 10px;
}
.about_header_h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 2px;
  z-index: -1;
  background: #d9832e;
  width: 50px;
}
.about_section_p {
  margin: 0;
  font-size: 14px;
  letter-spacing: 2px;
  color: #555a64 !important;
}
.about_section_img {
  border: 14px solid #ffffff;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 3px 10px 0px rgba(38, 59, 94, 0.1);
  margin-top: 50px;
  width: 60%;
}
.h4 {
  font-weight: 600;
  font-size: 30px;
  margin: 10px 0 0 0px;
  color: #090a0c;
}
.h6 {
  color: #090a0c;
  font-weight: 400;
  margin: 0 0 20px;
}
.color {
  color: #d9832e;
}
.media {
  display: flex;
  padding: 6px 0;
  line-height: normal;
}
.media_label {
  margin: 0;
  color: #090a0c;
  font-weight: 500;
  font-size: 15px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 90px;
  flex: 0 0 90px;
  border-right: 1px solid #c1c1c1;
  max-width: 90px;
}
.media_mute_label {
  margin-bottom: 0;
  padding-left: 15px;
  font-size: 14px;
  margin-bottom: 0;
  padding-left: 15px;
  font-size: 14px;
  color: #555a64;
}
.button {
  margin-top: 15px;
  background-color: #d9832e;
  color: #ffffff !important;
  border-color: #d9832e;
  display: inline-block;
  border: 2px solid transparent;
  color: inherit;
  line-height: inherit;
  border-radius: 0;
  width: auto;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-transition: ease-in-out all 0.55s;
  transition: ease-in-out all 0.55s;
  text-align: center;
}
.button:hover {
  background-color: #090a0c;
  color: #ffffff;
  border-color: #090a0c;
}

.skills {
  background: #fff;
  border-radius: 10px;
}

.skills_bar {
  padding: 25px 0px;
}

.bar {
  margin: 25px 0;
}

.info span {
  font-size: 1rem;
  font-weight: 500;
}

.info {
  margin-top: 8px;
  color: #07374a;
}

.progress_line {
  position: relative;
  height: 10px;
  width: 100%;
  margin-top: 20px;
  background: #f0f0f0;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.html {
  width: 80%;
  position: absolute;
  background: #d9832e;
  height: 100%;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
.css {
  width: 70%;
  position: absolute;
  background: #d9832e;
  height: 100%;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
.bootstrap {
  width: 82%;
  position: absolute;
  background: #d9832e;
  height: 100%;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
.javascript {
  width: 62%;
  width: 80%;
  width: 80%;
  position: absolute;
  background: #d9832e;
  height: 100%;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.per::before {
  position: absolute;
  content: "\f51f";
  height: 0;
  right: 0;
  top: -14px;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-style: #f0f0f0;
  border-top-color: #07374a;
}

.per::after {
  position: absolute;
  right: 0;
  top: -28px;
  color: #f0f0f0;
  font-size: 12px;
  font-weight: 700;
  background: #07374a;
  padding: 1px 8px;
  border-radius: 3px;
}

.progress-line .html::after {
  content: "80%";
}
.progress-line .css::after {
  content: "70%";
}
.progress-line .bootstrap::after {
  content: "82%";
}
.progress-line .javascript::after {
  content: "62%";
}
.progress-line .c::after {
  content: "90%";
}

/* ////........Media Query........//// */

@media (max-width: 900px) {
  .Mob_skill_card {
    margin: 0px !important;
    padding-bottom: 20px;
  }
  .about_section_img {
  border: 14px solid #ffffff;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 3px 10px 0px rgba(38, 59, 94, 0.1);
  margin-top: 50px;
  width: 100%;
}
}

.icons {
  font-size: 30px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #d9832e;
}
.media_text {
  margin: 0;
  margin-left: 20px;
  font-size: 16px;
  color: #090a0c;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
 
  justify-content: center;
}
.media_row {
  width: 90%;
  display: flex;
  padding: 18px 15px;
  border-radius: 5px;
  background: #ffffff;
  border: 2px solid #d9832e;
  -webkit-box-shadow: 0px 30px 60px 0px rgba(38, 59, 94, 0.1);
  box-shadow: 0px 30px 60px 0px rgba(38, 59, 94, 0.1);
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
}
