.home_section {
  background-color: #ffffff;
  height: 765px;
}
.typewriter {
  width: 21.5ch;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid #212121;
  animation: cursor 1s step-start infinite, text 5s steps(18) alternate infinite;
  padding-left: 5px;
}

@keyframes cursor {
  0%,
  100% {
    border-color: #212121;
  }
}

@keyframes text {
  0% {
    width: 0;
  }
  100% {
    width: 110px;
  }
}
.Banner_h1 {
  font-size: 60px;
  color: #090a0c;
  font-weight: 600;
  margin: 0 0 15px;
  line-height: 1;
}
.Banner_h6 {
  color: #090a0c;
  font-size: 18px;
  margin: 0 0 15px;
  display: flex;
}
.Banner_p {
  color: rgba(9, 10, 12, 0.8);
  margin: 0;
}
.My_btn {
  display: inline-block;
  border: 2px solid transparent;
  color: inherit;
  line-height: inherit;
  border-radius: 0;
  width: auto;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-transition: ease-in-out all 0.55s;
  transition: ease-in-out all 0.55s;
  text-align: center;
  margin-right: 10px;
  background: #d9832e;
  color: #ffffff;
  border-color: #d9832e;
  background-color: #d9832e;
}
.My_btn2 {
  display: inline-block;
  border: 2px solid transparent;
  color: inherit;
  line-height: inherit;
  border-radius: 0;
  width: auto;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-transition: ease-in-out all 0.55s;
  transition: ease-in-out all 0.55s;
  text-align: center;
  margin-right: 10px;
  background: #ffff;
  color: #d9832e;
  border-color: #d9832e;
}
.My_btn:hover {
  background: #090a0c !important;
  color: #ffffff;
  border-color: #090a0c;
}
.My_btn2:hover {
  background: #d9832e !important;
  color: #ffffff;
  border-color: #d9832e;
}
.banner_img {
  width: 100%;
}
@media only screen and (max-width: 980px) {
  .banner_img {
    width: 80%;
    height: 300px;
    align-items: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    margin-bottom: 10px;
  }
  .mob_top {
    margin-top: 0px;
  }
  .Banner_h1 {
    font-size: 30px;
  }
  .home_section {
    background-color: #ffffff;
    height: auto;
  }
  .modal_container {
    position: absolute;
    left: 10% !important;
    top: 28%;
    align-items: center;
    width: 80% !important;
    background-color: #ffffff;
    box-shadow: #ffffff;
    padding: 20px;
  }
}
.close_button {
  color: #090a0c;
  width: 100%;
  justify-content: end;
}
.modal_container {
  position: absolute;
  left: 25%;
  top: 28%;
  align-items: center;
  width: 50%;
  background-color: #ffffff;
  box-shadow: #ffffff;
  padding: 20px;
}
