.header_text {
  font-weight: 700;
  font-size: 35px;
  margin: 0 0 10px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  z-index: 1;
  padding: 0 0 10px;
  color: black;
}
.header_text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 2px;
  z-index: -1;
  background: #d9832e;
  width: 50px;
}
.parah {
  margin: 0;
  font-size: 14px;
  letter-spacing: 2px;
  color: #555a64 !important;
}
.img_card {
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
}
.card_img {
  width: 100%;
  height: 380px;
  overflow: hidden !important;
}
.card_overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 88%;
  margin: 0 auto;
  display: block;
  background: rgba(9, 10, 12, 0.5);
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
  justify-content: center;
  -ms-flex-pack: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}
.card_overlay:hover {
  opacity: 1;
}
.overlay_h5 {
  color: #ffffff;
  font-size: 25px;
  font-weight: 600;
  display: inline-block;
  margin: 0 0 10px;
  position: relative;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
  left: -25px;
}
.overlay_span {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
  padding: 2px 12px;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
  position: relative;
  left: -25px;
}
.swiper_card {
  background: #ffffff;
  padding: 20px;
  margin-top: 15px;
  margin-bottom: 25px;
  border: 1px solid #edd;
  display: flex;
  margin-left: 10px;
}
.Swiper_img {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50% 0 50% 50%;
}
.Swiper_head {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  padding-top: 2px;
  color: black;
}
.card_parah {
  color: black;
}
@media only screen and (max-width: 700px) {
  .swiper_card {
    width: 95%;
    height: 95%;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 25px;
    display: block;
    margin-left: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  .Swiper_img {
    align-items: center;
    display: flex;
    width: 70%;
    margin: 0 auto !important;
    height: 165px;
    overflow: hidden;
    border-radius: 50%;
  }
  .Swiper_head {
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    padding-top: 10px;
    color: black;
  }
  .card_parah {
    padding-top: 10px;
    color: black;
  }
}
